<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Form</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>The Bill Form</h2>
<p>Start filling in the form and calculate how much each of you have to pay.</p>
<form action="/results" method="post">
    {{billform.amount.label}} {{billform.amount}}
    {{billform.period.label}} {{billform.period}}
    <hr>
    <p>Please type in your name and how many days you have spent in the house during that month.</p>
    <p>First Flatmate</p>
    {{billform.name1.label}} {{billform.name1}}
    {{billform.days_in_house1.label}} {{billform.days_in_house1}}
    <hr>
     <p>Second Flatmate</p>
    {{billform.name2.label}} {{billform.name2}}
    {{billform.days_in_house2.label}} {{billform.days_in_house2}}
    <br>
    <br>
    {{billform.button}}

</form>
</body>
</html>